<div class="homepage">
  <aside class="left-menu">
    <div class="user-img"><%= gravatar_for(current_user) %></div>
    <div class="user-fullname"><%= current_user.full_name %></div>
    <div class="user-stats">
      <div>
        <p class="stat-num"><%= current_user.followings.count %></p>
        <p>Following</p>
      </div>
      <div>
        <p class="stat-num"><%= current_user.followers.count %></p>
        <p><%= 'Follower'.pluralize(current_user.followers.count) %></p>
      </div>
    </div>
    <%= link_to opinions_path, id: 'on-hover' do %>
      <i class="fa fa-home"></i>
      <div class="profile-link">Home</div>
    <% end %>
    <%= link_to user_path(current_user.id), class: ('left-menu-active' if @user == current_user) do %>
      <i class="fa fa-user"></i>
      <div class="profile-link">Profile</div>
    <% end %>
  </aside>
  <div class="center-menu">
    <%= render 'shared/header' %>
    <div class="center-wrap">
      <div class="tweet-center">
        <div class="profile-cover-image">
          <%= image_tag('http://myfbcovers.com/uploads/somecovers/download/Facebook%20cover%20Cover%20is%20loading%20%20.jpg', alt: 'cover', class: 'cover') %>
        </div>
        <div class="title-section">
          <div class="tweets-text">Tweets</div>
        </div>
        <ul class="tweet-list">
          <% @opinions.each do |opinion| %>
            <li class="individual-tweet">
              <div class="tweet-img-wrap">
                <div class="tweet-img"><%= gravatar_for(current_user, options = { size: 50 }) %></div>
              </div>
              <div class="tweet-name-text">
                <div class="tweet-fullname">
                  <%= link_to opinion.user.full_name, user_path(opinion.user.id) %>
                </div>
                <div class="tweet-username">
                  @<%= opinion.user.username %>
                </div>
                <div class="tweet-created-at">
                  | <%= time_ago_in_words(opinion.created_at) %> ago
                </div>
                <p><%= opinion.text %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <aside class="profile-aside">
        <div class="profile-img-link">
          <div class="user-img"><%= gravatar_for(current_user, options = { size: 100 }) %></div>
          <% unless current_user == @user %>
            <% if following?(@user) %>
              <%= link_to 'Unfollow', following_path(@user.id), method: :delete, class: 'follow-user' %>
            <% else %>
              <%= link_to 'Follow', followings_path(@user.id), method: :post, class: 'follow-user'%>
            <% end %>
          <% end %>
        </div>
        <div class="user-fullname"><%= @user.full_name %></div>
        <div class="user-username">@<%= @user.username %></div>
        <div class="user-profile-stats">
          <div>
            <p class="stat-num"><%= @user.opinions.count %></p>
            <p class="stat-text"><%= 'Tweet'.pluralize(@user.opinions.count) %></p>
          </div>
          <div class="stat-center">
            <p class="stat-num"><%= @user.followings.count %></p>
            <p class="stat-text">Following</p>
          </div>
          <div>
            <p class="stat-num"><%= @user.followers.count %></p>
            <p class="stat-text"><%= 'Follower'.pluralize(@user.followers.count) %></p class="stat-text">
          </div>
        </div>
        <div class="followed-by">
          <h2>Followed by</h2>
          <% followed_by(@user).each do |user| %>
            <div class="followed-by-wrap">
              <div>
                <div class="followed-by-img"><%= gravatar_for(current_user, options = { size: 40 }) %></div>
                <div><%= user.full_name %></div>
              </div>
              <% unless current_user == user %>
                <% if following?(user) %>
                  <%= link_to following_path(user.id), method: :delete, class: 'follow-user followed-by-list' do %>
                    <div>×</div>
                  <% end %>
                <% else %>
                  <%= link_to followings_path(user.id), method: :post, class: 'follow-user followed-by-list' do %>
                    <div>+</div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </aside>
    </div>
  </div>
</div>